h1{
    font-family: 'Lobster', cursive;
    text-align: center;
}
#main{
    width: 1200px;
    height:400px;
    background-color: aquamarine;
    margin-left: 50px;
}

#two{

width: 200px;
height:400px;
background-color: cornsilk;
float: left;

border :1px solid white;

}
#three{

    width: 200px;
    height:400px;
    background-color: rgb(207, 172, 32);
    float: left;
    margin-left: 4px;
    border :1px solid white;
    
    }